html{
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    padding: 0px;
    height: 300vh;


}

h1{
    color: #2a0101;
   
} 
h2{
    color: #2a0101;
} 

p{
    color: #2a0101;
    text-align: justify;
    text-justify:inter-word;
} 
a{
    color: whitesmoke;
}
        

#container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url(fotky/pozad%C3%AD.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#border2{
    align-items: center;
    text-align: center;
    width: 300px;
    height: 20vh;
    margin-bottom: 35px;
    padding: 50px;
    position: relative;
    font-weight: 400;
    font-style: normal;
    
}
#border {
    background-color: rgba(255, 255, 255, 0.6);
    align-items: center;
    text-align: center;
    width: 300px;
    height: 20vh;
    margin-bottom: 35px;
    padding: 50px;
    position: absolute;
    font-weight: 400;
    font-style: normal;
   filter: blur(15px);
    


}



#container2 {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 100vh;
    background-image: url(fotky/paper2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;


}


.photo {
    width: 100%;
    margin-bottom: 18vh;
    padding-top: 30vh;
    display: flex;
    justify-content: center;
}

.slide-text-background {
    position: absolute;
    
    width: 34vw;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.6);
    filter: blur(15px); /* Přidá efekt rozostření */
    z-index: 0;
    margin-right:63vw;
    border-radius: 15px;
}

.slide-text {
    width: 400vw;
    height: 60vh;
    margin-left: 15px;
    margin-top: 30px;
    z-index: 1;


    
   

}

.slide-text h1,
p {
    margin: 10px;
}


.firstswiper img {
    height: 40vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container3 {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-top: 250vh;
    background-image: url(fotky/paper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
}

.row {
    margin-bottom: 150px;
    margin-left: 2vw;
    justify-content: center;
    align-items: center;

}

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    margin: 2px;
    float: left;
    width: 14vw;

}

.column2 {
    margin: 5px;
    float: left;
    width: 15%;


}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 60vw;

}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 60px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}



.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;

}
img.hover{
    transition: 
}
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
